{% extends 'myapp/base.html' %}
{% block content %}
    <p class="breadcrumbs"><span class="mr-2"><a href="/difer">Differentiation</a></span></p>
    <p>การหาผลต่าง

กำหนดฟังก์ชัน f(x) จงคำนวณหา dnfdxn เมื่อกำหนดค่า x ให้
โดยที่ f(x) กำหนดได้สองแบบคือ

กำหนดเป็นฟังก์ชันสำหรับ การคำนวณหาโดยตรง y=f(x)
กำหนดความสัมพันธ์เป็นแบบชุดข้อมูลมาให้ (xi,yi),i=0,1,..,n
    <section class="headline-sec">
        <div class="overlay ">
            <h3>Differentiation หาค่าประมาณของฟังก์ชั่น</h3>

        </div>
    </section>
    <!--HOME SECTION END-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6" >
                    <div class="alert" style="background-color:#dd99ff;" >
                        <div class="form-group">
                            <strong>กรอกข้อมูลต่อไปนี้</strong> <br/>
                            <form action='' method="post">
                                {% csrf_token %}
                                เลือกฟังก์ชั่น
                                <select class="form-control" name=function>
                                    <option value="taylorseries">Taylor Series</option>
                                </select>
                                ค่าประมาณของฟังก์ชั่น
                                <input name="fx" type="text" step=any class="form-control" placeholder="e**x" value="e**x">
                                x
                                <input name="x" type="number" step=any class="form-control" placeholder="0" value="0">
                                h
                                <input name="h" type="number" step=any class="form-control" placeholder="0.001" value="0.001">
                                <input type="submit" class="btn btn-primary" ></input>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 alert"  style="background-color:#dd99ff;" >
                    <h2><strong> ผลลัพธ์ </strong></h2>
                    re1
                    <h4>{{re1}}</h4>
                    re2
                    <h4>{{re2}}</h4>
                    re3
                    <h4>{{re3}}</h4>
                    re4
                    <h4>{{re4}}</h4>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}