{% extends 'myapp/base.html' %}
{% block content %}
			
			  <section class="ftco-section bg-light ftco-bread">
				<div class="container">
					<div class="row no-gutters slider-text align-items-center">
	          <div class="col-md-9 ftco-animate">
	            <p class="breadcrumbs"><span class="mr-2"><a href="/index/">Home</a></span></p>
	            <h1 class="mb-3 bread">Computational Mathematics</h1>
	            <p>ระบบสมการเชิงเส้นและผลเฉลยเชิงตัวเลข เมทริกซ์ ดีเทอร์มิแนนต์ ผลเฉลยเชิงตัวเลขของสมการหนึ่งตัวแปร การแปลงเชิงเส้น การประมาณค่าในช่วงและนอกช่วง การหาอนุพันธ์และปริพันธ์เชิงตัวเลข

<p>Systems of linear equations and numerical solutions; matrices; determinants; numerical solutions of equations in one variable; linear transformations; interpolation and extrapolation; numerical differentiation and integration; eigenvalues and eigenvectors</p>
	          </div>
	        </div>
				</div>
			</section>
			 
{% endblock content %}