{% extends 'myapp/base.html' %}
{% block content %}
    <p class="breadcrumbs"><span class="mr-2"><a href="/inte">Integration</a></span></p>
    <p>คำนวณค่า ∫baf(x)dx เมื่อกำหนดฟังก์ชัน f(x) มาให้
คำนวณหาพื้นที่ใต้กราฟ f(x) จากในช่วง x∈[a,b] โดยปกติแล้วจะใช้วิธีประมาณค่าโดยการแบ่งพื้นที่ออกเป็นช่วงๆ แต่ละช่วงจะเป็นสี่เหลี่ยมแล้วรวมพื้นที่สี่เหลี่ยมเหล่านั้นมาประมาณค่าพื้นที่ใต้กราฟหรือค่า ∫baf(x)dx นั่นเอง

แบ่งเป็นสี่เหลี่ยมที่มีความกว้างเท่ากัน: Newton-Cotes

1.1. Trapezoidal rule

1.2. Simpson's rule
    <section class="headline-sec">
        <div class="overlay ">
            <h3>Integration หาพื้นที่ใต้กราฟ</h3>

        </div>
    </section>
    <!--HOME SECTION END-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6" >
                    <div class="alert" style="background-color:#ccff99;" >
                        <div class="form-group">
                            <strong>กรอกข้อมูลต่อไปนี้</strong><br />
                            
                        <label></label>
                            <form action='' method="post">
                                {% csrf_token %}
                                เลือกฟังก์ชั่น
                                <select class="form-control" name=function>
                                    <option value="trapezoidal">Trapezoidal Rule</option>
                                    <option value="simson">Simpson's Rule</option>
                                </select>
                                ฟังก์ชั่น
                                <input name="fx" type="text" step=any class="form-control" placeholder="e**x" value="e**x">
                                <br>
                                <input type="submit" class="btn btn-primary" ></input>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 alert"  style="background-color:#ccff99;" >
                    <h2><strong> ผลลัพธ์ </strong></h2>
                    <h4>{{x}}</h4>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}