
{% extends 'myapp/base.html' %}
{% block content %}
    <p class="breadcrumbs"><span class="mr-2"><a href="/root">Root-finding</a></span></p>
    <p>การหาคำตอบของสมการ f(x)=0 หมายถึงการหาค่า x ที่จำทำให้สมการ f(x) มีค่าเป็นศูนย์ คำตอบของสมการเรียกอีกอย่างว่า root ซึ่งแต่ละฟังก์ชันอาจมี 0, 1, หรือ หลายคำตอบก็ได้
    <section class="headline-sec">
        <div class="overlay ">
            <h3>Root-finding</h3>

        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    <div class="alert" style="background-color:#ffbb99;">
                        <div id = "group_from" class="form-group">
                            <strong>กรอกข้อมูลต่อไปนี้</strong>
                            <br />

                            <label></label>
                            <form action='' method="post">
                                {% csrf_token %}
                                เลือกฟังก์ชั่น
                                <select class="form-control" id="select" name=function onchange="myFunctiongetselect()">
                                    <option value="incremental">Incremental Search Method</option>
                                    <option value="bisection">Bisection Method</option>
                                    <option value="newton">Newton-Raphson Method</option>
                                    <option value="secant">Secant Method</option>
                                </select>
                                ฟังก์ชั่น
                                <input name="fx" type="text" step=any class="form-control"
                                    placeholder="3*x**3 - 10*x**2 + 5" value="3*x**3 - 10*x**2 + 5">
                                <div id = "df"></div>
                                <br>
                                <input type="submit" class="btn btn-primary"></input>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 alert"  style="background-color:#ffbb99;">
                    <h2><strong> ผลลัพธ์ </strong></h2>
                    <h4>x = {{x}}</h4>
                </div>
            </div>
        </div>
    </section>
    <script>
        function myFunctiongetselect() {
            var x = document.getElementById("select").value;
            if (x == "newton") {
                var paragraph = document.getElementById("df");
                var text = document.createTextNode("ฟังก์ชั้นDif1ครั้ง");
                paragraph.appendChild(text);
                var x = document.createElement("INPUT");
                x.setAttribute("id", "dx");
                x.setAttribute("name", "dx");
                x.setAttribute("class", "form-control");
                x.setAttribute("type", "text");
                x.setAttribute("placeholder", "9*x**2-20*x");
                x.setAttribute("value", "9*x**2-20*x");
                document.getElementById("df").appendChild(x);
            }else{
                var div = document.getElementById("dx");
                div.parentNode.removeChild(div);
            }
        }
    </script>

    </section>
  
{% endblock content %}